<div class="fixed top-0 right-0" *transloco="let translate; read: 'LANGUAGES'">
  <div class="dropdown mb-72 dropdown-hover">
    <div tabindex="0" role="button" class="btn m-1 min-w-40">
      <img
        src="assets/flags/{{ currentLanguage }}.svg"
        width="15"
        height="15"
        [alt]="translate(currentLanguage)"
      />
      {{ translate(currentLanguage) }}
      <svg
        width="12px"
        height="12px"
        class="inline-block h-2 w-2 fill-current opacity-60"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 2048 2048"
      >
        <path
          d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"
        ></path>
      </svg>
    </div>
    <ul
      tabindex="0"
      class="dropdown-content bg-base-300 rounded-box z-[1] w-52 p-2 shadow-2xl min-w-40"
    >
      <div *ngFor="let languageTag of availableLanguages">
        <li
          *transloco="let translate; read: 'LANGUAGES'"
          class="flex items-center"
        >
          <img
            src="assets/flags/{{ languageTag }}.svg"
            width="15"
            height="15"
            [alt]="translate(languageTag)"
          />
          <input
            type="radio"
            name="theme-dropdown"
            class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
            [value]="translate(languageTag)"
            [id]="languageTag"
            attr.aria-label="{{ translate(languageTag) }}"
            (click)="changeLanguage(languageTag)"
          />
        </li>
      </div>
    </ul>
  </div>
</div>
