<app-view-container>
  <app-header [view]="HeaderView.ShowingColofon" />

  <div class="p-8 pt-2 overflow-y-auto h-full">
    <div class="max-w-3xl mx-auto space-y-8 text-justify leading-relaxed text-lg">
      <div>
        <h2 class="text-2xl font-semibold">Over Huizen en Mensen in Wijk</h2>
        <p>
          Het project <i>Huizen en mensen in Wijk</i> gaat over de binnenstad van Wijk bij Duurstede. Wij doen
          historisch huizenonderzoek naar de geschiedenis van de huizen en hun eigenaren en bewoners. De leden van de
          projectgroep proberen zoveel mogelijk te achterhalen hoe een pand er vroeger van buiten en binnen uit zag,
          wanneer het gebouwd, verbouwd of gesloopt is, wat voor winkels of bedrijven er zaten en wie er allemaal hebben
          gewoond in de loop van de tijd.
        </p>
        <p class="pt-4">
          Ons vertrekpunt zijn de ruim vijfhonderd gebouwen verdeeld over dertig straten die tegenwoordig binnen de
          singels staan, of ze nu oud zijn of nieuw. Alle woonhuizen, winkels en andere gebouwen, zoals kerken, worden
          in de loop van het project, huis voor huis en straat voor straat, systematisch onderzocht en beschreven in
          woord en beeld.
        </p>
        <img src="https://opslag.huizenenmenseninwijk.nl/nl-wbdrazu-t01-0146.jpg" alt="Groepsfoto van de projectgroep"
          aria-label="Groepsfoto van de projectgroep" class="w-full  mx-auto rounded shadow my-4" />
        <p class="pt-4">
          Daarnaast komen ook de mensen aan bod die deze huizen vanaf de late middeleeuwen tot nu kochten of huurden.
          Waren ze rijk of juist arm, stierven ze oud of jong, wat voor beroep hadden ze, hoe groot was het gezin waar
          ze deel van uitmaakten en waar kwamen ze vandaan?
          Ieder huis is een doos vol verhalen. Samen vertellen die verhalen de geschiedenis van een straat of buurt en
          dragen ze bij aan onze kennis van de historie van Wijk bij Duurstede. Gebouwen maken deze stadsgeschiedenis
          zichtbaar.</p>
        <img src="https://opslag.huizenenmenseninwijk.nl/nl-wbdrazu-t01-0147.jpeg" alt="Groepsfoto van de projectgroep"
          aria-label="Groepsfoto van de projectgroep" class="w-full  mx-auto rounded shadow my-4" />

        <p class="pt-4">Het doel is om van elk pand de bouw- en bewonersgeschiedenis zo volledig mogelijk in kaart te
          brengen.
          Die informatie willen we vervolgens publiceren op deze website en elders. We zijn daarbij natuurlijk
          afhankelijk van wat er beschikbaar is aan gegevens. Veel informatie vinden we in archiefstukken en
          beeldmateriaal. Maar ook eerdere publicaties kunnen nuttig zijn. Net als het goed bestuderen van de panden
          zelf, ook door áchter de gevel kijken. Daarnaast praten we met mensen die iets over het pand kunnen vertellen.
          Het onderzoek vraagt veel tijd. Ook is er deskundigheid nodig om de gegevens systematisch te vinden en te
          verwerken.</p>
        <img src="https://opslag.huizenenmenseninwijk.nl/nl-wbdrazu-t01-0148.jpg" alt="Groepsfoto van de projectgroep"
          aria-label="Groepsfoto van de projectgroep" class="w-full  mx-auto rounded shadow my-4" />

        <p class="pt-4">Eind 2022 zijn we met het huizenproject gestart in een van de hoofdstraten, de Oeverstraat, die
          tegenwoordig 32 panden telt. Dat proefonderzoek heeft ons een hoop geleerd en opgeleverd. Zo weten we nu zeker
          dat het om een langdurig en tijdrovend project gaat, dat nooit af zal zijn. Maar dat is niet erg, zolang wát
          we doen maar goed is en blijvend. We willen iets fundamenteels maken waarop anderen kunnen voortbouwen.
          Bovendien willen wij er niet alleen zelf plezier aan beleven, maar er ook zoveel mogelijk anderen een plezier
          mee doen.</p>
        <p class="pt-4">Om de resultaten van het huizenonderzoek te laten zien, het contact met belangstellenden te
          vergemakkelijken én om de informatie voor de toekomst veilig te stellen, maken we vanaf september 2025 gebruik
          van deze website.</p>
        <p class="pt-4">De teksten en afbeeldingen zijn het intellectuele eigendom van individuele leden van de
          projectgroep,
          die ook het copyright hebben. Overname ervan met duidelijke bronvermelding is meestal toegestaan. Bij twijfel
          daarover, kunt u contact met ons opnemen via: <a href="mailto:info@huizenenmenseninwijk.nl" target="_blank"
            class="text-blue-600 underline hover:text-blue-800">info&#64;huizenenmenseninwijk.nl</a>
        </p>
      </div>

      <div>
        <h2 class="text-2xl font-semibold">Over ons</h2>
        <img src="https://opslag.huizenenmenseninwijk.nl/nl-wbdrazu-t01-0149.jpg" alt="Groepsfoto van de projectgroep"
          aria-label="Groepsfoto van de projectgroep" class="w-full  mx-auto rounded shadow my-4" />

        <ul class="space-y-4 list-disc pl-5">
          <li><b>Hans Dirksen (1957)</b> was tot enkele jaren geleden werkzaam als professioneel fotograaf in Wijk bij
            Duurstede Hij had lang een fotowinkel in de Klooster Leuterstraat en is de enige geboren en getogen Wijkse
            in de projectgroep. Hans maakt voor het huizenproject de foto’s en zet zijn grote netwerk in voor het
            verkrijgen van informatie en materiaal.</li>
          <li><b>Fred Gaasbeek (1961)</b> werkte als architectuurhistoricus mee aan de bekende gele MIP (Monumenten
            Inventarisatie Project) -boekenreeks van de provincie Utrecht. In 1991 verscheen daarin het deel over Wijk
            bij Duurstede. Hij is zelfstandig onderzoeker en publiceert regelmatig op het gebied van architectuur en
            geschiedenis, monumenten en topografie, waaronder over Wijk bij Duurstede. Zo verscheen van zijn hand De
            molen Rijn en Lek te Wijk bij Duurstede en onlangs Willem, heer van Abcoude, Wijk en Duurstede. Als lid van
            de huizengroep houdt hij zich onder andere bezig met kadasteronderzoek en schrijft hij mee aan de teksten.
          </li>
          <li><b>Lex Herold</b> werkte tot 1994 bij verschillende architectenbureaus en begon in augustus van dat jaar
            een eigen ontwerp- en adviesbureau, dat in 1999 naar de Oeverstraat in Wijk bij Duurstede verhuisde. Hij
            houdt zich binnen de projectgroep bezig met het bouwhistorisch onderzoek naar de panden, het opmeten, maken
            van tekeningen en het schrijven van de bouwkundige teksten.
          </li>
          <li><b>Winfried Leeman</b> is al vele jaren vrijwilliger bij het Regionaal Archief Zuid-Utrecht (RAZU). Als
            lid van de projectgroep Huizen en mensen in Wijk houdt hij zich vooral bezig met technische of
            IT-vraagstukken, digitaliseert hij archiefstukken en afbeeldingen en analyseert hij informatie, zoals voor
            een hoogtekaart van de straten in de Wijkse binnenstad.</li>
          <li><b>Marieke van Nimwegen (1961)</b> is deels met pensioen en werkt deels als zelfstandige in de
            communicatiesector. Na de archieframp in 2002, hielp ze als projectmedewerkster enkele jaren mee aan het
            herstel van de door water beschadigde archiefstukken bij het Streekarchivariaat (nu RAZU) in Wijk bij
            Duurstede. Daar ontstond haar interesse voor de lokale geschiedenis. Binnen de projectgroep houdt ze zich
            bezig met het zoeken in oude kranten, naar gegevens en beeldmateriaal op internet en het schrijven van
            teksten.</li>
          <li><b>Ria Vonk (1955)</b> werkte tussen 1991 en 2021 als directeur-archivaris van het RAZU. Na haar
            pensionering heeft zij haar oude liefde voor historisch huizenonderzoek weer opgepakt, nu in haar woonplaats
            Wijk bij Duurstede. Sinds 1987 publiceerde zij over Edam, Utrecht, Maastricht en vooral Wijk bij Duurstede.
            Zij houdt zich in de projectgroep vooral bezig met het doen van archief- en literatuuronderzoek, het
            schrijven van teksten en het coördineren van de werkzaamheden.</li>
          <li><b>Repke de Vries (1951)</b> heeft ervaring met de IT-kant van digitale bibliotheken en -archieven maar
            ook met de inhoudelijke kant: (meta) data en toegankelijkheid. In de projectgroep houdt hij zich bezig met
            het (handmatig) omzetten van de gedigitaliseerde archiefstukken naar doorzoekbare tekst.</li>
        </ul>
      </div>

      <div>
        <h2 class="text-2xl font-semibold">Ontwikkeling van deze portal</h2>
        <p>
          De website is gebaseerd op Valeros, het open source ontsluitingsplatform van het Regionaal Archief
          Zuid-Utrecht.
          Bekijk <a href="https://github.com/Regionaal-Archief-Zuid-Utrecht/Valeros-RAZU" target="_blank"
            class="text-blue-600 underline hover:text-blue-800">
            de broncode van Valeros hier
          </a> (GPL-3.0).
        </p>

        <div class="flex justify-center mt-6">
          <button class="btn btn-primary rounded-full text-center" [ngClass]="'w-9 sm:w-10 h-9 sm:h-10'"
            (click)="onButtonClicked('')" [attr.aria-label]="'homescreen.go-to-search' | translate">
            <span class="text-2xl font-light">
              <ng-icon [svg]="featherX" class="relative top-[0.15rem]" />
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</app-view-container>