<app-view-container>
  <app-header [view]="HeaderView.ShowingColofon" />

  <div class="p-8 pt-2 overflow-y-auto h-full">
    <h2>Contact</h2>
    <p>
      Contact opnemen met het Regionaal Archief Zuid-Utrecht kan op verschillende
      manieren. U kunt ons een e-mail sturen via
      <a href="mailto:info@razu.nl" target="_blank">info&#64;razu.nl</a> of bellen
      naar 030-698 11 11. Wij zullen ons best doen om uw vraag te beantwoorden.

    </p>


    <div class="flex justify-center w-full">
      <button class="btn btn-primary btn-xs rounded-full text-center inline-block mx-auto"
        [ngClass]="'w-9 sm:w-10 h-9 sm:h-10'" (click)="onButtonClicked('')"
        [attr.aria-label]="'homescreen.go-to-search' | translate">
        <span class="text-lg sm:text-2xl font-light">
          <ng-icon [svg]="featherX" class="relative top-[0.125rem] sm:right-[0.05rem] sm:top-[0.15rem]" />
        </span>
      </button>
    </div>
  </div>
</app-view-container>