<ng-container *transloco="let translateInPlace"
  ><div class="flex-container">
    <button
      (click)="onReturnClick()"
      *ngIf="details.isShowing"
      class="mb-4 text-lg font-bold"
    >
      <ng-icon [svg]="featherArrowLeft" class="relative top-[0.15rem] mr-2" />
      <span>{{ translateInPlace("BACK_TO_RESULTS") }}</span>
    </button>

    <div class="flex-spacer"></div>

    <div
      class="mb-1 text-lg font-bold flex-container-right"
      [ngClass]="[
        shouldShowImageNextToTable() ? 'right-0 top-0' : 'right-0 top-0'
      ]"
      *ngIf="details.isShowing"
    >
      <div class="flex-container-center relative top-[0.15rem]">
        <div class="form-control w-52" *ngIf="originalrecord.available">
          <button (click)="onDownloadClicked()">
            <label class="label-json label cursor-pointer custom-label"
              ><ng-icon [svg]="featherDownload" class="relative mr-2" />
              <span class="label-text">{{
                translateInPlace("DOWNLOAD_ORIGINAL")
              }}</span>
            </label>
          </button>
        </div>
      </div>
      <div class="form-control w-52" *ngIf="originalrecord.available">
        <label class="label-json label cursor-pointer custom-label">
          <span class="label-text">{{
            translateInPlace("SHOW_ORIGINAL")
          }}</span>
          <input
            *ngIf="originalrecord.available && !originalrecord.shown"
            type="checkbox"
            class="toggle toggle-primary"
            (click)="onOriginalRecordClicked()"
          />
          <input
            *ngIf="originalrecord.available && originalrecord.shown"
            type="checkbox"
            class="toggle toggle-primary"
            checked="checked"
            (click)="onOriginalRecordClicked()"
          />
        </label>
      </div>
    </div>
  </div>

  <div
    class="w-full bg-base-100 border mb-4"
    *ngIf="node"
    [ngClass]="[
      shouldShowImageNextToTable() ? 'p-0 flex flex-col sm:flex-row' : 'p-6'
    ]"
  >
    <button
      *ngIf="shouldShowImageNextToTable()"
      (click)="details.show(node)"
      class="inline-block h-48 sm:h-auto"
      [ngClass]="[details.isShowing ? 'cursor-default' : '']"
      [style.width]="imageWidth"
      [style.min-width]="imageWidth"
    >
      <app-node-images [imageUrls]="images" [width]="'100%'" />
    </button>

    <div
      [ngClass]="shouldShowImageNextToTable() ? 'p-6' : 'p-0'"
      class="flex-grow relative"
    >
      <div class="text-lg mr-6" *ngIf="showTitle">
        <app-node-link
          [url]="id"
          [label]="title"
          (clicked)="onTitleClicked($event)"
        />
      </div>

      <div class="w-full sm:px-4" *ngIf="!originalrecord.shown">
        <app-node-table-row
          [label]="'Onderdeel van'"
          *ngIf="showParents && parents.length > 0"
        >
          <app-node-hierarchy [nodes]="parents" />
        </app-node-table-row>

        <app-node-table-row
          [label]="'Soort'"
          *ngIf="showTypes && types.length > 0"
        >
          <app-node-types [types]="types" />
        </app-node-table-row>
        <app-node-table-row
          [label]="'Organisatie'"
          *ngIf="details.showing(node)"
        >
          <app-node-endpoint [endpointId]="nodes.getEndpointId(node)" />
        </app-node-table-row>
      </div>

      <app-node-renderer [node]="node" *ngIf="!originalrecord.shown" />
      <app-original-record *ngIf="originalrecord.shown" />
      <div
        class="absolute"
        [ngClass]="[
          shouldShowImageNextToTable() ? 'right-6 top-8' : 'right-0 top-2'
        ]"
        *ngIf="details.isShowing"
      >
        <app-node-permalink-button [node]="node" />
      </div>

      <div
        class="absolute"
        [ngClass]="[
          shouldShowImageNextToTable() ? 'right-6 bottom-6' : 'right-0 bottom-0'
        ]"
      >
        <app-node-details-button [node]="node" />
      </div>
    </div>
  </div>
</ng-container>
