<ng-container *ngIf="imageUrls && imageUrls.length > 0">
  <!-- MIRADOR VIEWER -->
  <div
    class="w-full h-full relative"
    [ngClass]="[shownInTableCell ? 'viewer-small-ui' : '']"
    id="mirador"
    *ngIf="useViewer"
  ></div>

  <!-- THUMB -->
  <div class="w-full h-full overflow-y-scroll" *ngIf="!useViewer">
    <img
      [src]="imageUrls[0]"
      [alt]="imageLabel ?? 'Unknown image'"
      class="w-full h-full object-cover"
      (error)="onImageLoadError($event)"
    />
  </div>
</ng-container>
