<div class="drawer drawer-end">
  <input
    id="my-drawer-4"
    type="checkbox"
    class="drawer-toggle"
    [checked]="opened"
  />
  <div class="drawer-content">
    <!-- Drawer content will be injected here -->
  </div>
  <div class="drawer-side">
    <label
      for="my-drawer-4"
      aria-label="close sidebar"
      class="drawer-overlay"
      (click)="closeDrawer()"
    ></label>
    <ul class="menu min-h-full w-100 p-4 bg-primary-content">
      <!--text-base-content-->
      <ng-container>
        <div style="min-width: 300px; max-width: 1200px">
          <div *ngIf="!data">
            <h3><ng-icon [svg]="featherMeh" class="relative mr-2" /></h3>
            <br />
            Oh jeetje, dit hoort u niet te zien! Onze excuses voor het ongemak.
          </div>
          <!--<button class="btn" onclick="my_modal_5.showModal()">
            open modal
          </button>-->
          <dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
            <div class="modal-box w-5xl max-w-5xl">
              <form method="dialog">
                <button
                  class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
                >
                  ✕
                </button>
              </form>
              <h3 class="text-lg font-bold">Hello!</h3>
              <p class="py-4">
              </p>
            </div>
          </dialog>
          <app-downloadables *ngIf="data" [data]="data"></app-downloadables>
        </div>
      </ng-container>
    </ul>
  </div>
</div>
