@if (totalPages() > 1) {
  <ng-template #prevContent>
    <ng-icon [svg]="featherChevronLeft" size="20" />
    <span class="hidden xs:block">{{
      "search-interface.pagination.previous" | translate
    }}</span>
  </ng-template>

  <ng-template #nextContent>
    <span class="hidden xs:block">{{
      "search-interface.pagination.next" | translate
    }}</span>
    <ng-icon [svg]="featherChevronRight" size="20" />
  </ng-template>

  <nav
    class="flex justify-center items-center gap-2"
    role="navigation"
    [attr.aria-label]="'search-interface.pagination.label' | translate"
  >
    @if (hasPrevious()) {
      <button
        class="btn btn-xs xxs:btn-sm"
        (click)="goToPrevious()"
        [attr.aria-label]="'search-interface.pagination.previous' | translate"
      >
        <ng-container *ngTemplateOutlet="prevContent" />
      </button>
    } @else {
      <span
        class="btn btn-xs xxs:btn-sm btn-disabled"
        [attr.aria-label]="'search-interface.pagination.previous' | translate"
      >
        <ng-container *ngTemplateOutlet="prevContent" />
      </span>
    }

    <div class="flex items-center gap-1">
      <label for="pagination-page-input" class="sr-only">
        {{ "search-interface.pagination.go-to-page-label" | translate }}
      </label>
      <input
        id="pagination-page-input"
        type="number"
        min="1"
        [max]="totalPages()"
        [value]="currentPage()"
        (keydown.enter)="
          goToInputPage($any($event.target).value, $any($event.target))
        "
        (blur)="goToInputPage($any($event.target).value, $any($event.target))"
        class="input input-xs xxs:input-sm w-20 text-center px-1"
      />
      <span
        >{{ "search-interface.pagination.of" | translate }}
        {{ totalPages() }}</span
      >
    </div>

    @if (hasNext()) {
      <button
        class="btn btn-xs xxs:btn-sm"
        (click)="goToNext()"
        [attr.aria-label]="'search-interface.pagination.next' | translate"
      >
        <ng-container *ngTemplateOutlet="nextContent" />
      </button>
    } @else {
      <span
        class="btn btn-xs xxs:btn-sm btn-disabled"
        [attr.aria-label]="'search-interface.pagination.next' | translate"
      >
        <ng-container *ngTemplateOutlet="nextContent" />
      </span>
    }
  </nav>
}
