<div
  class="flex flex-col gap-1 mb-4"
  [ngClass]="[
    settings.showingFilterPanelOnSide() ? 'lg:gap-1' : 'lg:flex-row lg:gap-2',
  ]"
  *ngIf="filters.options.value"
  role="search"
  aria-labelledby="filter-group"
  aria-label="Filters"
>
  <!-- Collapsible Parent Section -->
  <div class="bg-background w-full">
    <div class="flex justify-between items-center px-4 py-2">
      <p class="text-xl font-bold">
        {{ "search-interface.filters_title" | translate }}
      </p>
      <div class="flex items-center gap-2">
        <button
          *ngIf="filters.enabled.value.length > 0"
          class="btn btn-xs btn-secondary flex items-center shadow hover:shadow-lg transition-shadow duration-200"
          (click)="clearFilters()"
          aria-label="Clear filters"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            role="region"
            aria-labelledby="clear-filters"
            aria-label="Clear filters cross icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
          <span style="padding-bottom: 0.1rem">
            {{ "search-interface.clear_filters" | translate }}
          </span>
        </button>
        <!-- Collapse Arrow -->
        <button
          class="focus:outline-none"
          (click)="uix.filterGroupExpanded = !uix.filterGroupExpanded"
          aria-label="Toggle filter group"
          role="region"
          aria-labelledby="filter-group"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 transform transition-transform"
            [ngClass]="{ 'rotate-180': uix.filterGroupExpanded }"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            role="region"
            aria-labelledby="filter-group"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </button>
      </div>
    </div>
    <div
      class="transition-all overflow-hidden overflow-y-auto"
      [ngClass]="
        uix.filterGroupExpanded ? 'max-h-96 lg:max-h-[100vh]' : 'max-h-0'
      "
    >
      <!-- Existing Filters Logic -->
      <ng-container *ngFor="let filterId of Object.keys(filters.options.value)">
        <div class="w-full sm:flex-1 mb-1" *ngIf="filters.shouldShow(filterId)">
          <div
            class="collapse collapse-arrow bg-primary text-white border shadow hover:shadow-lg transition-shadow duration-200"
          >
            <input
              type="checkbox"
              name="filter-accordion"
              [(ngModel)]="ui.accordionExpandedStates[filterId]"
              [id]="'Filter by ' + filters.getOptionById(filterId).label"
            />
            <div class="collapse-title">
              <label
                [for]="'Filter by ' + filters.getOptionById(filterId).label"
                >{{ filters.getOptionById(filterId).label }}
              </label>
              <app-filter-count
                [count]="
                  filters.getOptionEnabledFiltersCount(
                    filterId,
                    FilterType.FieldAndValue
                  )
                "
              />
            </div>
            <div class="collapse-content flex">
              <app-filter-option
                [filterId]="filterId"
                [values]="filters.getOptionById(filterId).values"
                [fieldIds]="filters.getOptionById(filterId).fieldIds"
                class="max-h-64 h-full overflow-y-scroll overflow-x-hidden w-full"
              />
            </div>
          </div>
        </div>
      </ng-container>
      <div
        class="w-full lg:w-auto"
        *ngIf="Settings.filtering.showOrganizationsFilter"
      >
        <app-endpoints />
      </div>
    </div>
  </div>
</div>
