<app-hop-link
  [data]="{
    value: data?.value ?? '',
    hopLinkSettings: {
      preds: ['https://data.razu.nl/def/ldto/dekkingInTijdBeginDatum'],
      showHops: false,
    },
  }"
  (hopObjIdsRetrieved)="this.hasBeginDate = $event.length > 0"
/>

<div class="inline">
  <span *ngIf="hasBeginDate && hasEndDate"> - </span>
  <app-hop-link
    [data]="{
      value: data?.value ?? '',
      hopLinkSettings: {
        preds: ['https://data.razu.nl/def/ldto/dekkingInTijdEindDatum'],
        showHops: false,
      },
    }"
    (hopObjIdsRetrieved)="this.hasEndDate = $event.length > 0"
  />
</div>

<div class="inline">
  <span *ngIf="hasBeginDate || hasEndDate"> (</span>
  <app-hop-link
    [data]="{
      value: data?.value ?? '',
      hopLinkSettings: {
        preds: ['https://data.razu.nl/def/ldto/dekkingInTijdType'],
        showHops: false,
      },
    }"
    (hopObjIdsRetrieved)="this.hasType = $event.length > 0"
  />
  <span *ngIf="hasBeginDate || hasEndDate">)</span>
</div>
