<h2
  class="text-xl mb-4 font-bold"
  [attr.aria-label]="
    !search.isLoading.value
      ? numberOfHitsStr
      : ('accessibility.loading' | translate)
  "
>
  @if (search.isLoading.value) {
    <span class="loading loading-spinner"> </span>
  }

  @if (!search.isLoading.value && !details.showing.value) {
    <span aria-hidden="true">{{ numberOfHitsStr }}</span>
    @if (currentRangeStr) {
      <span
        class="block text-sm font-normal text-gray-600 mt-1"
        aria-hidden="true"
      >
        {{ currentRangeStr }}
      </span>
    }
  }
</h2>
