<div
  class="drawer"
  [ngClass]="{ 'lg:drawer-open': ui.filterDrawerExpanded && isSearchPage() }"
>
  <input type="checkbox" class="drawer-toggle" id="filter-drawer-checkbox" />

  <div class="drawer-content">
    <app-aria-live />
    <router-outlet></router-outlet>
  </div>

  <div class="drawer-side z-[99999]">
    <label
      for="filter-drawer-checkbox"
      aria-label="Sluit filter menu"
      class="drawer-overlay"
    ></label>
    <div class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
      <app-filter-options />
    </div>
  </div>
</div>
