<div class="w-full h-full overflow-y-scroll" *transloco="let translateInPlace">
  <ng-container *ngFor="let document of documents">
    <div class="flex h-full items-center text-primary-500">
      <span>{{ document.title }}</span>
      <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
      <a
        class="leading-none relative flex items-center"
        (click)="toggleDocumentVisibility(document)"
        target="_blank"
        style="cursor: pointer"
      >
      <ng-container *ngIf="!document.visible">{{ translateInPlace("SHOW_DOCUMENT") }}
        <ng-icon [svg]="featherEye" class="ml-1" /> </ng-container>
      <ng-container *ngIf="document.visible">{{ translateInPlace("HIDE_DOCUMENT") }}
        <ng-icon [svg]="featherEyeOff" class="ml-1" /> </ng-container>
      </a>
    </div>
    <ng-container *ngIf="document.visible">
      <dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle" [open]="document.visible" (close)="toggleDocumentVisibility(document)">
        <div class="modal-box" [style.width]="'90vw'" [style.height]="'90vh'" [style.maxWidth]="'none'" [style.maxHeight]="'none'">
        <!--<div class="modal-box w-screen h-5/6 max-w-none !w-full !h-full"> -->
          <form method="dialog">
            <button
              class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
            >
              ✕
            </button>
          </form>
          <h3 class="text-lg font-bold">{{document.title}}</h3>
            <pdf-viewer
        [src]="document.blobUrl"
        [rotation]="0"
        [original-size]="false"
        [show-all]="true"
        [fit-to-page]="true"
        [zoom]="1"
        [zoom-scale]="'page-width'"
        [stick-to-page]="false"
        [render-text]="true"
        [external-link-target]="'blank'"
        [autoresize]="true"
        [show-borders]="true"
        style="width: 100%; height: 100vh"
        (on-progress)="onProgress($event)"
        (on-error)="onError($event)"
      ></pdf-viewer>
        </div>
      </dialog>
      
    </ng-container>
    
  </ng-container>
</div>
