.search-input-button {
  @apply btn btn-sm rounded-full text-white shadow-sm hover:shadow transition-shadow focus-visible:outline focus-visible:outline-2 focus-visible:outline-primary focus-visible:outline-offset-2;
}

.menu-horizontal {
  flex-flow: row;
}
