
<ng-container>
<select class="select w-full max-w-xs select-ghost bg-white text-neutral shadow hover:shadow-lg transition-shadow duration-200">
  <option
    *ngFor="let sortOptionId of Object.keys(Settings.sorting.options)"
    [value]="sortOptionId"
    [selected]="sortOptionId === sorting.current.value?.id"
    (change)="onChange(sortOptionId)"
  >
    {{ sorting.getById(sortOptionId)?.label }}
  </option>
</select>
  <!-- <div class="collapse collapse-arrow join-item bg-white text-neutral shadow hover:shadow-lg transition-shadow duration-200">
  <input
    type="checkbox"
    name="filter-accordion"
    [(ngModel)]="ui.accordionExpandedStates['sort']"
  />
  <div class="collapse-title">
    <span>{{ sorting.current.value?.label }}</span>
  </div>

  <div class="collapse-content max-h-48 overflow-y-scroll overflow-x-hidden">
    <div
      class="form-control flex-row"
      *ngFor="let sortOptionId of Object.keys(Settings.sorting.options)"
    >
      <label class="label text">
        <input
          type="radio"
          class="radio radio-sm mr-4"
          [checked]="sortOptionId === sorting.current.value?.id"
          (change)="onChange(sortOptionId)"
        />
        {{ sorting.getById(sortOptionId)?.label }}
      </label>
    </div>
  </div>
</div> -->




</ng-container>