<!-- <span *ngIf="count"> ({{ count }}) </span> -->
<ng-container *ngIf="count">
<br/>
<div class="badge badge-sm badge-warning badge-outline" *ngIf="+count < 2">{{ count }} {{"search-interface.filters_active_singular" | translate}}</div>
<div class="badge badge-sm badge-warning badge-outline" *ngIf="+count >= 2">{{ count }} {{"search-interface.filters_active_plural" | translate}}</div>
</ng-container>
<!--<div class="ml-4 badge badge-sm relative bottom-[0.06rem]" *ngIf="count">-->
<!--  {{ count }}-->
<!--</div>-->
