<ng-container *ngIf="node && pred">
  <app-node-link [url]="pred" *ngIf="show === TableCellShowOptions.Pred" />

  <ng-container *ngIf="show === TableCellShowOptions.Obj">
    <ng-container>
      <div *ngFor="let objValue of objValuesToShow">
        <!-- Explicitly rendered components that need special handling -->
        <ng-container *ngFor="let component of explicitlyRenderedComponents">
          <div class="mt-1" *ngIf="component === NodeTypeComponent">
            <app-node-type [type]="{ id: objValue }"> </app-node-type>
          </div>

          <app-file-renderer
            *ngIf="component === FileRendererComponent"
            [urls]="objValue"
            [shownInTableCell]="true"
            [hopSettings]="getSettingByKey('hopLinkSettings')"
          />
        </ng-container>

        <!-- Dynamically rendered components -->
        <ng-container *ngFor="let component of dynamicallyRenderedComponents">
          <ng-container
            *ngComponentOutlet="
              component;
              inputs: { data: getPredicateRenderComponentInput(objValue) }
            "
          >
          </ng-container>
        </ng-container>

        <!-- Default rendering if no components are available -->
        <app-node-link [url]="objValue" *ngIf="!hasRenderComponents">
          <ng-icon
            [svg]="featherArrowUpLeft"
            class="opacity-40"
            *ngIf="isIncoming"
          />
        </app-node-link>
      </div>

      <button
        class="btn btn-xs btn-primary mt-2"
        (click)="loadMoreObjValues()"
        *ngIf="numObjValuesNotShown > 0"
      >
        {{ showMoreLabel }}
      </button>
    </ng-container>
  </ng-container>
</ng-container>
