<ng-container *ngIf="node && pred">
  <app-node-link [url]="pred" *ngIf="show === TableCellShowOptions.Pred" />

  <ng-container *ngIf="show === TableCellShowOptions.Obj">
    <!-- TODO: Retrieve and pass coordinates -->
    <app-map-thumb *ngIf="shouldRenderComponentIds.includes('map-thumb')">
    </app-map-thumb>

    <ng-container>
      <div *ngFor="let objValue of objValuesToShow">
        <div
          class="mt-1"
          *ngIf="shouldRenderComponentIds.includes('node-type')"
        >
          <app-node-type [type]="{ id: objValue }"> </app-node-type>
        </div>

        <app-file-renderer
          *ngIf="shouldRenderComponentIds.includes('file-renderer')"
          [urls]="objValue"
          [shownInTableCell]="true"
          [hopSettings]="
            renderComponent.getSettingByKey(
              'hopLinkSettings',
              node,
              RenderMode.ByPredicate,
              [pred],
              direction
            )
          "
        />

        <!-- Dynamically render predicate render components -->
        <ng-container *ngFor="let compId of shouldRenderComponentIds">
          <ng-container *ngIf="componentRegistry[compId]">
            <ng-container
              *ngComponentOutlet="
                componentRegistry[compId];
                inputs: { data: getPredicateRenderComponentInput(objValue) }
              "
            >
            </ng-container>
          </ng-container>
        </ng-container>

        <app-node-link [url]="objValue" *ngIf="!renderComponentIsDefined">
          <ng-icon
            [svg]="featherArrowUpLeft"
            class="opacity-40"
            *ngIf="isIncoming"
          />
        </app-node-link>
      </div>

      <button
        class="btn btn-xs btn-primary mt-2"
        (click)="loadMoreObjValues()"
        *ngIf="numObjValuesNotShown > 0"
      >
        {{ showMoreLabel }}
      </button>
    </ng-container>
  </ng-container>
</ng-container>
