@import "tailwindcss";

@tailwind utilities;

@plugin "daisyui";
/* Themes - Define your themes here. For help with making a theme you can use the official daisyui theme generator: daisyui.com/theme-generator */


/* Hemiw Themes */
@plugin "daisyui/theme" {
  name: "hemiw";
  default: "true";
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #fff;
  --color-base-200: #e5e4e2;
  --color-base-300: #cccccc;
  --color-base-content: #222222;
  --color-primary: #0082c2;
  --color-primary-content: #ffffff;
  --color-secondary: #6d6d6d;
  --color-secondary-content: #ffffff;
  --color-accent: #b3b3b3;
  --color-accent-content: #000000;
  --color-neutral: #0082c2;
  --color-neutral-content: #ffffff;
  --color-info: #2094f3;
  --color-info-content: #ffffff;
  --color-success: #009485;
  --color-success-content: #ffffff;
  --color-warning: #ff9900;
  --color-warning-content: #ffffff;
  --color-error: #ff5724;
  --color-error-content: #ffffff;
  --radius-box: 0.5rem;
  --decoration-slate-300: #ff5724;

  --border: 1px;

}






.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.badge {
  border-radius: var(--rounded-badge, 0.375rem) !important;
}

/* Content width constraint class */
.content-width-constraint {
  width: 80%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}