<app-view-container>
  <!-- Map component positioned absolutely to cover the entire viewport -->
  <!-- <div class="map-container">
    <app-map></app-map>
  </div> -->


  <!-- Content positioned above the map -->
  <div class="content-container">
    <app-lang-switch class="absolute top-1 right-4 interactive" />
    
    <app-header class="interactive" />

    <div class="flex-grow-0 p-4 pb-2 interactive">
      <div class="flex flex-row items-center justify-center">
        <app-search-input class="max-w-md w-full" />
      </div>
    </div>
    <!-- <razu-nav-buttons layout="center-grid"></razu-nav-buttons> -->
    <razu-nav-buttons-nw layout="center-grid"></razu-nav-buttons-nw>

    <!--<app-home-intro />-->

    <img src="assets/img/full-screen-image.jpg" class="fixed top-0 left-0 w-full h-full z-[-1]" />

    <!--<app-home-intro-below-search />-->
  </div>
</app-view-container>
